html {
    font-size:10px;/*px means 'pixels': the base font size is now 10 pixels high */
    font-family: "Roboto", sans-serif;
    background-color: #00539f;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 5px 3px 1px black;
    font-size: 60px;
    text-align: center;/*text-align：可設置字行位置，center代表置中*/
}

p,
li {
    font-size: 16px;
    line-height: 2;/*每一字行的高多少 這裡設2*/
    letter-spacing: 1px;/*每個文字之間的距離 這裡設1*/
}

img {
    width: 500px;
    display: block;
    margin: 0 auto;
}